{% extends "layout.html" %}
{% block content %}

    <div id="main-section">

        <div id="display-message-section">
            <!-- Flash error messages -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <p class=formError >{{ messages[0] }}</p>
                {% endif %}
            {% endwith %}

            <form action="{{ url_for('leave_room_per') }}", method="POST">
                <label style="padding-left: 20px"><h5>Leave room:</h5></label>
                <select name="room_id">
                    <option disabled> Choose the room</option>
                    {% for room in rooms %}
                            <option value="{{ room.id }}" class="select-room cursor-pointer">{{room.title }}</option>
                    {% endfor %}
                </select>

                <div class="form-group" style="padding-left: 20px">
                    <input type="submit" value="Leave" class="btn btn-warning">
                </div>
                {{ form.csrf_token }}
            </form>
        </div>
    </div>
{% endblock %}